$background-light: #fcfffb;
$background-dark: #131200;

$error: #d62018;
$error-desaturated: #f39691;

$primary: #22a299;
$primary-desaturated: #7ec8c4;
$primary-light: #61d4ca;
$primary-dark: #00736b;

$secondary: #65d454;
$secondary-desaturated: #b7ebac;
$secondary-light: #9aff84;
$secondary-dark: #2aa222;
$secondary-desaturated: #a0d79a;

$secondary-dark-complementary: #9922a2;
$secondary-dark-complementary-desaturated: #cd90d0;

$pumpkin: #f96318;
$pumpkin-desaturated: #fcaf8f;

$varden: #fdf7d7;

$black: #202000;
$text-primary-on-light: rgba($black, 0.87);
$text-secondary-on-light: rgba($black, 0.54);
$text-hint-on-light: rgba($black, 0.38);
$text-disabled-on-light: rgba($black, 0.38);
$text-icon-on-light: rgba($black, 0.38);

$white: #fffffb;
$text-primary-on-dark: $white;
$text-secondary-on-dark: rgba($white, 0.7);
$text-hint-on-dark: rgba($white, 0.5);
$text-disabled-on-dark: rgba($white, 0.5);
$text-icon-on-dark: rgba($white, 0.5);

$disabled-container-fill-on-dark: rgba($white, 0.2);
