$theme-background: #FFFFFF;
$theme-on-background: #442C2E;

$theme-primary: #FEDBD0;
$theme-on-primary: #442C2E;

$theme-secondary: #FEEAE6;
$theme-on-secondary: #442C2E;

$theme-surface: #FFFBFA;
$theme-on-surface: #442C2E;

$theme-error: #b00020;
$theme-on-error: #FFFBFA;
