@use 'colors';
@use '~@material/theme/functions';

@use '~@material/theme'  with (
  $background: colors.$theme-background,

  $primary: colors.$theme-primary,
  $on-primary: if(
      functions.contrast-tone(colors.$theme-primary) == 'dark', colors.$theme-on-primary, #fff,
  ),

  $secondary: colors.$theme-secondary,
  $on-secondary: if(
      functions.contrast-tone(colors.$theme-secondary) == 'dark', colors.$theme-on-secondary, #fff,
  ),

  $surface: colors.$theme-surface,
  $on-surface: if(
      functions.contrast-tone(colors.$theme-surface) == 'dark', #000, colors.$theme-on-surface
  ),

  $error: colors.$theme-error,
  $on-error: if(
      functions.contrast-tone(colors.$theme-error) == 'dark', colors.$theme-on-error, #fff
  ),
);
